@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "open_sans";
  src: url("./assets/font/OpenSans-Regular.ttf");
}
body {
  color: #10476d;
  font-family: "open_sans";
}
