@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "open_sans";
  src: url("./assets/font/OpenSans-Regular.ttf");
}

body {
  color: #10476d;
  font-family: "open_sans";
  background-color: rgb(0, 0, 0, 0.1);
}

.noise-bg {
  background-image: url("/public/noise-10.png");
}
.fingerprint-bg {
  background-image: url("/public/fingerprint_mobile_2.jpg");
}
/* .fingerprint-mobile-bg {
  background-image: url("/public/fingerprint_mobile.jpeg");
} */

.one-bg {
  background-image: url("/public/1.svg");
}
.two-bg {
  background-image: url("/public/2.svg");
}
.three-bg {
  background-image: url("/public/3.svg");
}
.footer-bg {
  background-image: url("/public/footer_pattern.svg");
}

.admin-bg {
  background-image: url("/public/admin.jpg");
}

.lecturer-bg {
  background-image: url("/public/lecturer.svg");
}
.student-bg {
  background-image: url("/public/student.svg");
}

.bg-semi-circle-left {
  background-image: url(/public/semiCircle2.png);
}

.bg-semi-circle-right {
  background-image: url(/public/semiCircle2.png);
}

.bg-gradient {
  background: linear-gradient(110.23deg, #10476d 18.12%, #88bfe5 51.44%);
}
.webkit-sticky {
  position: -webkit-sticky;
  position: sticky;
}
.logo-loader-img {
  animation: image_zoom 2s linear 0s infinite forwards;
  transition: all;
}

.backdrop-bg-filter {
  background-color: rgba(0, 79, 46, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 5px;
}

.text-shadow {
  text-shadow: 0px 4px 4px rgba(30, 71, 124, 0.5);
}
.text-shadow-white {
  text-shadow: 0px 1px 1px rgba(117, 116, 116, 0.5);
}
.calc-height {
  height: calc(100vh - 150px);
}

@media only screen and (max-width: 768px) {
  .fingerprint-bg {
    background-image: url("/public/fingerprint_mobile.jpeg");
  }
}
